<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="container">
    <header>
            <div class="whitething">
            <h3>Meu portfólio</h3>
            </div>
            <div class="whitething">
            <a href="#historiaa">Um pouco sobre mim</a>
            </div>
            <div class="whitething">
            <a href="#contatos">Meus Contatos</a>
            </div>
    </header>

    <main>
        <div class="sobre_mim" id="historiaa">
            <h3>Minha história</h3>
            <img src="https://i1.sndcdn.com/avatars-w08omvGyfKVuDq8v-doVdNA-t500x500.jpg">
            <div class="content1">
                <i class="fa-solid fa-face-smile"></i>
                <h4>Sobre mim:</h4>
            </div>
            <p>
                Meu nome é Ryan, atualmente tenho 19 anos, e sou uma pessoa apaixonada por temas relacionados a Computadores, Jogos e Tecnologias em geral. Comecei a mexer em computadores com 7 anos de idade, e desde então, descobri que era isto que queria para minha vida. Poder ajudar pesssoas e solucinar problemas através das Tecnologias atuais é algo fantástico, e é um patámar que nunca imaginamos que iriamos chegar! Comecei fazendo edições de imagens e vídeos, e depois descobri o mundo que a programação é, e acabei me apaixonando pela mesma, devido à infinidade de possibilidades que temos para resolver situações e problemas! Atualmente estou focado mais na parte de Ánalise de Dados, e Desenvolvimente Web, porém de vez em quando visito outros conteúdos para matar a curiosidade! A programação é algo que constrói, e transforma nossas vidas, gerando soluções muitas vezes bem concretas e inovadoras!
            </p>
            <div class="content2">
                <i class="fa-solid fa-clipboard"></i>
                <h4>Experiência Profissional:</h4>
            </div>
            <p>
                Realizei diversos projetos e apresentações em colégios, reuniões familiares e festas infantis, apresentações em áudio e vídeo, com o uso do Sony Vegas, Photoshop e Movie Maker, e trabalhos no PowerPoint. Também já utilizei o Word e Google Docs para escrever redações ou outros tipos de demandas, como cartas e comunicados. Criei alguns projetos e fiz programas em C++ e Python, como exemplo um programa de Cadastro de Clientes. E também trabalhei anteriormente com Excel para analisar e medir dados de colaboradores da empresa, e realizar gráficos para melhor visualização dos dados. Atualmente venho estudando Power BI, para realização de Gráficos com maior potencial de análise e visualização dos Dados, Automação de Tarefas com Python, e realização de aplicações de pequeno porte com o Power Apps da empresa Microsoft. Ainda estou estudando Desenvolvimento Web, com foco em HTML, CSS e Javascript! 
            </p>
            <h4>Espero que tenha gostado de saber um pouco mais sobre mim, e em caso de querer conversar, fique à vontade para me contatar!</h4>
        </div>
    </main>

    <footer>
        <p id="contatos">Meus contatos</p>
        <ul>
            <li>
            <a href="https://www.linkedin.com/in/ryan-trovo-castro-3123862b0/">Perfil do Linkedin</a>
            </li>
            <li>
            <a href="mailto:ryan.castro448@al.unieduk.com.br">E-mail : ryan.castro448@al.unieduk.com.br</a>
            </li>
        </ul>
    </footer>
    </div>
</body>
</html>